.nav-bar{
    height: 80px;
    background-color: #f6d1d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color:#b60e0e;
}
.menu-item a{
    text-decoration: none;
    color: darkmagenta;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}